[submodule "ae-multigrid"]
	path = ae-multigrid
	url = https://github.com/sangdon/ae-multigrid.git
[submodule "svm-struct-matlab"]
	path = svm-struct-matlab
	url = https://github.com/sangdon/svm-struct-matlab
[submodule "JointBoost"]
	path = JointBoost
	url = https://github.com/sangdon/JointBoost
[submodule "vlfeat"]
	path = vlfeat
	url = https://github.com/sangdon/vlfeat
[submodule "SelectiveSearch"]
	path = SelectiveSearch
	url = https://github.com/sangdon/SelectiveSearch
[submodule "TurboPixels"]
	path = TurboPixels
	url = https://github.com/sangdon/TurboPixels
[submodule "libsvm"]
	path = libsvm
	url = https://github.com/sangdon/libsvm
[submodule "Ncut"]
	path = Ncut
	url = https://github.com/sangdon/Ncut
